Body {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    color: #212121;
}
.list {
    padding: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.logo-color {
color: #000;
}
.logo {
margin-right: 93px;
font-weight: 700;
font-size: 26px;
line-height: 1,19;
letter-spacing: 0.03em;
color: #2196F3;
display: inline-block;
}
.header{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header-nav {
    display: flex;
}
.header-list {
    margin-top: 8px;
    display: flex;
    min-width: 300px;
}
.header-contact {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.header-contact-item {
    color: #757575;
    padding: 0 50px;
}
.header-contact-item:hover {
    color: #2196F3;
}
.header-contact-item:focus {
    color: #2196F3;
}
.header-list-item:nth-child(2){
    padding: 0 50px;
}
.header-list-item .link{
    transition: color 500ms;
    color: #212121;
}
.header-list-item .link:hover{
    color: #2196F3;
}
.header-list-item .link:focus {
    color: #2196F3;
}
.hero {
    background: #2F303A;
}
.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFf; 
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.about-title {
   display: none;
}
.main-list {
    letter-spacing: 0.03em;
    font-size: 14px;
}
.main-list-title {
    font-weight: 700;
    line-height: 1,14;
    text-transform: uppercase;
}
.main-text {
    font-weight: 400;
    line-height: 1,71;
    color: #757575;
}
.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,67;
    text-align: center;
    letter-spacing: 0.03em;
}
.list-persons {
    font-size: 16px;
    line-height: 1,89;
    text-align: center;
    letter-spacing: 0.03em;
}
.list-persons-name {
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #212121;
}
.list-persons-item {
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #757575;
}
.footer {
    background: #2F303A;
}
.logo-footer {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,92;
    letter-spacing: 0.03em;
    color: #2196F3;
    display: inline-block;
}
.logo-footer-color {
    color: #FFFFFF;
}
.list-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}
.list-address-link {
    color: #FFFFFF;
}
.list-address-item {
    color: rgba(255, 255, 255, 0.6);
}
.list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}
.list-button:hover {
    color: #FFFFFF;
    background: #2196F3;
}
.title-images {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: #757575;
}